/*CSS Variables */
/*Voidaan luoda variableja,
joita voi nopeasti käyttää asettaakseen jonku värin tai varjon milloin vain tehdessä CSS */

/*Valittuna oli seuraavat väriteemat:
Taustat:
#379683
#5CDB95
#8EE4AF
Fontit:
#05386B
#EDF5E1 */
:root {
    --primary: #5CDB95 ;
    --darkgreen: #379683;
    --lightgreen: #8EE4AF;
    --blue: #05386B;
    --white: #EDF5E1;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    
}

html {
    box-sizing: border-box;
    font-family: "Lato", "Montserrat", sans-serif;
    color: var(--blue)
    
}
h1, h2, h3, h4, h5, h6 {
    color: var(--white)
}

body {
    background: var(--primary);
    margin: 30px 50px;
    line-height: 1.4;
}

/* https://www.youtube.com/watch?v=moBhzSC455o&t=1942s
jäätiin kohtaan 17.55*/